<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle10gDialect
		</property>
		<property name="hibernate.connection.driver_class">
			oracle.jdbc.driver.OracleDriver
		</property>
		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">
			jdbc:oracle:thin:@localhost:1521:xe
		</property>
		<property name="hibernate.show_sql">
			true
		</property>
		<property name="hibernate.hbm2ddl.auto">
			update
		</property>
		<property name="hibernate.connection.username">
			suraj1213
		</property>
		<property name="hibernate.connection.password">
			suraj1213
		</property>
	  	<!-- <mapping class="com.suraj.bean.Person" /> -->	
		<mapping class="com.suraj.bean.Employee" />
	</session-factory>
</hibernate-configuration>